@font-face {
  font-family: 'Exo 2';
  src: url('./fonts/Exo2-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Exo 2';
  src: url('./fonts/Exo2-Italic-VariableFont_wght.ttf');
  font-style: italic;
}


html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Exo 2', 'Helvetica', sans-serif;
}
